.jumbotron{
background-image: url(../images/City.jpg);
 
    background-attachment: scroll;
    font-family: cursive;
       color: white;
    min-height: 500px;
  
}
.navbar-nav {
float: none;
text-align: center;
font-size: 17px;
}
.navbar-nav li {
float: none;
display: inline-block;
}

.footer{
  width:100%;
  background:#111;
}

.footer a {
  font-size:14px;
}

.footer .logo{
  position:relative;
  width:80px;
  height:61px;
  margin: 0 auto;
  padding-top:50px;
  opacity: .3;
}

.footer .menu-footer{
  width:80%;
  text-align:center;
  margin:0 auto;
  padding-top:30px;
  overflow: hidden;
  position:relative;
}


.footer .menu-footer a{
   font-family: 'Lato', sans-serif;
  line-height:46px;
  padding:10px;
  color:#a4a4a4;
  -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.footer .menu-footer a:hover{
  color:#2fa68e;
}

.footer .copyright{
  font-family: 'Lato', sans-serif;
  width:80%;
  position:relative;
  font-weight:300;
  margin:0 auto;
  padding:30px 0 50px;
  text-align:center;
  font-size:14px;
  line-height:36px;
  color:#a4a4a4;
}

.image {
    border-radius: 6px;
    border: 0;
    display: inline-block;
    position: relative;
  }

    .image img {
      border-radius: 6px;
      display: block;
    }

    .image.left {
      float: left;
      padding: 0 1.5em 1em 0;
      top: 0.25em;
    }

    .image.right {
      float: right;
      padding: 0 0 1em 1.5em;
      top: 0.25em;
    }

    .image.fit {
      display: block;
      margin: 0 0 2em 0;
      width: 100%;
    }

      .image.fit img {
        display: block;
        width: 100%;
      }



#lastmain {
  text-align: center;
}
#lastmain .main-action {
    color: #000;
    margin: 13px;
    background-color: #ffffff;
}

.main-action {
    background-color: #FF5530;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    padding: 0px 26px;
    display: inline-block;
    text-decoration: none !important;
}

/**
 * 01/28/2016
 * This pen is years old, and watching at the code after all
 * those years made me fall from my chair, so I:
 * - changed all IDs to classes
 * - converted all units to pixels and em units
 * - changed all global elements to classes or children of
 *   .login
 * - cleaned the syntax to be more consistent
 * - added a lot of spaces that I so hard tried to avoid
 *   a few years ago
 *   (because it's cool to not use them)
 * - and probably something else that I can't remember anymore
 *
 * I sticked to the same philosophy, meaning:
 * - the design is almost the same
 * - only pure HTML and CSS
 * - no frameworks, preprocessors or resets
 */

/* 'Open Sans' font from Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

form{

  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}